.header{
    background-image: url('/images/Slider-img.png');
    height: 100vh !important;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  justify-content: space-between;
}
.header-content{
    position: absolute;
    top: 33%;
    left: 19%;
    color: white;

}
.header-buynow{
    font-size: 0.7rem;
    font-weight: bold;
    padding-left: 1.5rem;
}
.header-buynow img{
    padding: 0.8rem;
}

/* Facilities container */

.header-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.facilities-container{
    height: 5.7rem;
    background-color: white;
    justify-items: end;
    justify-content: end;
    border-top-right-radius: 2.5rem;
}

.facility{
  padding-top: 2rem;
  padding-left: 1rem;
}
.facility-h{
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.facility-dis{
    font-size: 0.6rem;
}

 /* newCollectio-container */

.he {
    background-image: url('/images/Slider-img.png');
    height: 100vh !important;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .newCollection-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 !important;
  }
  .newCollectio-container {
    background-color: white;
    border-top-left-radius: 2.5rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: black;
  }
  .bottom_div {
    padding: 0;
  }
  
  .New-Collection {
      padding-left: 4rem;
      padding-right: 0;
  }
  
  .newCollection-dis {
    font-size: 0.6rem;
    margin: 0;
  }
  
  .New-Collection-btn button{
      padding: 0.5rem 1rem;
      font-size: 0.7rem;
      font-weight: bold;
      background-color: blue;
      color: white;
      border-radius: 2rem;
      border: none;
      }

      .header-button{
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      @media(max-width: 992px) {
        .header-button {
            display: none;
        }
    }